/*MOBILE*/
@media (min-width: 350px) {
    .contacto{
        font-family: raleway;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        height: 590px;
        background: #EAF2FD;
    }

    .contacto__container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contacto__caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 322px;
        gap: 18px;
    }

    .contacto__logo{
        width: 176px;
        height: 50px;
    }

    .contacto__lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 15px;
        width: 328px;   
    }

    .contacto__item{
        font-weight: 600;
        line-height: 19px;
    }

    .contacto__link{
        color: #000000;
        text-decoration: none;
    }

    .contacto__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
    }

    .contacto__titulo{
        font-weight: 700;
        line-height: 19px;
    }

    .contacto__form--caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    .contacto__formulario{
        width: 60%;
    }
    .contacto__input{
        width: 98%;
        height: 56px;
        font-size: 16px;
    }

    .formulario__textarea--contacto{
        box-sizing: border-box;
        width: 98%;
        height: 82px;
        font-size: 16px;
        padding: 1.375rem 0.5rem 0.5rem;
    }

    .contacto__input, .formulario__textarea--contacto{
        border: none;
        border-bottom: solid 4px;
        border-color: #A2A2A2;
        border-radius: 4px;
    }

    .contacto__input::placeholder, .formulario__textarea--contacto::placeholder{
        color: #A2A2A2;
        font-size: 16px;
        line-height: 20px;
    }

    .span-error{
        position: relative;
        color: #ff0000;
    }

    .contato__boton{
        border: none;
        color: #FFFFFF;
        width: 133px;
        height: 40px;
        background: #2A7AE4;
        font-size: 14px;
        line-height: 16px;
    }

    .contacto__logo--pc{
        display: none;
    }
}

/*TABLET*/
@media (min-width: 768px) {

    .contacto{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 32px;
        height: 364px;
    }

    .contacto__container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    padding: 0px;
    gap: 16px;
    }


    .contacto__caja{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 300px;
        gap: 16px;
    }

    .contacto__lista{
        align-items: flex-start;
    }

    .contacto__form{
        align-items: flex-start;
    }   

    .contacto__form--caja{
        align-items: flex-start;
    }

    .formulario__hable{
        width: 100%;
    }

    .contacto__formulario{
        width: 100%  ;
    }

    .contacto__input::placeholder, .formulario__textarea--contacto::placeholder{
        text-align: start;
    }
}

    /*PC*/
    @media (min-width: 1100px) {
        .contacto{
            padding: 64px;
            gap: 115px;
            height: 368px;
        }

        .contacto__container{
        gap: 112px;
        justify-content: center;
        }

        .contacto__logo--pc{
            display: flex;
        }

        .contacto__logo{
            display: none;
        }

        .contacto__lista{
            gap: 24px;  
        }

        .contacto__form{
            align-items: flex-start;
            width: 80%;
        }   

        .contacto__formulario {
            width: 100%;
        }

        .contato__boton{
            width: 144px;
            height: 51px;
            font-size: 14px;
            line-height: 16px;
        }
    }
